<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" media="screen and (max-width: 952px)" href="../static/phone.css">
    <link rel="stylesheet" href="../static/form.css">
   

    <title>Document</title>
</head>
<body>
    <nav>
        <h1>Navbar</h1>
        <ul class="medium">
            
            <li class="item-2"><a href="#">Home</a></li>
            <li class="item-2"><a href="#">About</a></li>
            
             <i class="fas fa-bars menu-toggle"></i>
            
        </ul>
    </nav>
    <div class="menu-container">
    <ul class="menu">
        
        <li class="menu-item-2"><a href="#">Home</a></li>
        <li class="menu-item-2"><a href="#">About</a></li>
        
        
      
       
    </div>
    <div class="container">
        <form action="/result" class="form-contol" method="post">
            <label for="Roll no">Roll-no</label>
            <input type="text" name="roll" id="Rollno">
            <label for="Date">Date in DDMMYY</label>
            <input type="text" name="date" id="date">
            <label for="begin">Start-time in 24 hrs format</label>
            <input type="text" name="start" id="begin" placeholder="dddmmyy" value="">
            <label for="end">end-time in the same format</label>
            <input type="text" name="end" id="end" placeholder="dddmmyy" value="">
            <input type="submit" value="Submit">
        </form>
</ul>
<br><br> <h3>BOOKING STATUS: {{ msg }}</h3>
 </body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../static/script.js" ></script>


</html>